<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
            <%= image_tag("G.jpg", :alt => "rss feed", :class=> "d-block w-100") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>KGF Chapter 1</h5>
        <p>Indian Kannada-language period action film written and directed by Prashanth Neel, and produced by Vijay Kiragandur under the banner Hombale films.</p>
      </div>
    </div>
    <div class="carousel-item">
            <%= image_tag("avengers-logo.jpg", :alt => "rss feed", :class=> "d-block w-100") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Avengers infinity war</h5>
        <p>A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality.</p>
      </div>
    </div>
    <div class="carousel-item">
            <%= image_tag("faf.jpg", :alt => "rss feed", :class=> "d-block w-100") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Fate and furious</h5>
        <p>The Fate of the Furious follows Dominic Toretto (Diesel), who has settled down with his wife Letty Ortiz (Rodriguez), until cyberterrorist Cipher (Theron) coerces him into working for her and turns him against his team, forcing them to find Dom and take down Cipher.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

